* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.title {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 50px;
}

.white-box {
    padding-left: 16px;
    color: white;
}

h1 {
    font-size: 3em;
    font-weight: bolder;
    color: white;
    text-align: center;
}

