* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background: #cbe2ec;
}

.login-div {
    margin: 100px auto;
    width: 300px;
    background-color: white;
    padding: 60px;
    border-radius: 40px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.logo {
    background-color: blue;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.logo img {
    width: 100%;
}

.subtitle, .title {
    text-align: center;
    color: #505050;
}

.title {
    font-weight: bolder;
    font-size: 35px;
}

.subtitle {
    font-size: 17px;
}

.form {
    width: 100%;
    margin-top: 30px;
}

.form input {
    font-size: 18px;
    padding: 10px 30px 10px 5px;
    border: none;
    outline: none;
    background: none;
}

.username, .password {
    display: block;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px 0;
}

.form svg {
    height: 28px;
    margin-bottom: -6px;
    margin-left: 9px;
    margin-right: 4px;
}


.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0px;
    margin-bottom: 30px;
}

button.signin-button {
    width: 100%;
    padding: 12px 10px;
    border: none;
    font-size: 18px;
    border-radius: 30px;
    background-color: blue;
    color: white;
    margin-bottom: 5px;
}

.signin-button:hover {
    background-color: #9867C5;
    transform: translateY(-2px);
}

.sign-up {
    text-align: center;
}

a {
    text-decoration: none;
    color: #505050;
}
