* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.login-div {
    margin: 0 auto;
    width: 300px;
    padding: 60px;
    color: white;
}

.logo {
    background-color: transparent;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.logo img {
    width: 100%;
}

.subtitle, .title {
    text-align: center;
    color: white;
}

.title {
    font-weight: bolder;
    font-size: 3em;
}

.subtitle {
    font-size: 1.5em;
}

.form {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.form input {
    font-size: 18px;
    padding: 10px 30px 10px 5px;
    border: none;
    outline: none;
    background: none;
}

.username, .password {
    display: block;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px 0;
    color: white;
}

.form svg {
    height: 28px;
    margin-bottom: -6px;
    margin-left: 9px;
    margin-right: 4px;
}


.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0;
    margin-bottom: 30px;
}

.sign-up {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

input {
    color: white;
}

::placeholder {
    color: white;
    opacity: 1; 
}

:-ms-input-placeholder { 
    color: white;
}

::-ms-input-placeholder {
    color: white;
}

label {
    font-size: 1em;
}