* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    min-height: 100vh;
    color: white;
}

.title {
    text-align: center;
    color: #505050;
    font-weight: bolder;
    font-size: 50px;
}

.white-box {
    padding-left: 16px;
    color: black;
}

select {
    display: block;
    font-size: 1.5em;
}

textarea {
    display: block;
    font-size: 1.5em;
    background: transparent;
    color: white;
}

.NextStep {
    flex: 1 1 auto;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    width: 140px;
    padding: 12px 10px;
    border: none;
    font-size: 1.5em;
    border-radius: 30px;
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    margin-bottom: 5px;
}

.NextStep:hover {
    background-position: center;
    transform: translateY(-2px);
}

label {
    font-size: 2em;
    font-weight: bold;
    color: white;
}

::placeholder {
    color: white;
    opacity: 1;
}

:-ms-input-placeholder {
    color: white;
}

::-ms-input-placeholder {
    color: white;
}

h1 {
    color: white;
    text-align: center;
}

#queryHighlightPreview {
    font-size: 1.5em;
}