* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.subtitle, .title {
    text-align: center;
    color: white;
}

.title {
    font-weight: bolder;
    font-size: 3em;
}

.white-box {
    padding-left: 16px;
    color: black;
}

.subtitle {
    font-size: 2em;
    font-weight: bold;
}
