*{
font-family: 'Roboto Condensed', sans-serif;
}

body{
  background: #cbe2ec;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color:#463ddb;
  color: white;
}
.topnav-right {
  float: right;
}

.title {
text-align: center;
color: #505050;
}

.title {
  font-weight: bolder;
  font-size: 50px;
}

.white-box {
    padding-left:16px;
    background-color: white;
    color: black;
}


.btn-group button {
  background-color: #f2f2f2;
  border: 1px solid black;
  color: black;
  font-size: 20px;
  padding: 10px 24px;
  cursor: pointer;
  width: 100%;
  display: block;
  text-align: left;
}

.btn-group button:not(:last-child) {
  border-bottom: none;
}

.btn-group button:hover {
  background-color: #ddd;
}
